spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/nguyenvannga
    username: nguyenvannga
    password: "" # Thêm cặp nháy kép nếu mật khẩu trống
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

  thymeleaf:
    cache: false

  devtools:
    restart:
      enabled: true
    livereload:
      enabled: true
